<h1>Editing Campaign</h1>

<% form_for(@campaign) do |f| %>
  <%= f.error_messages %>

  <%= render :partial => 'form', :locals => { :f => f } %>

  <div class="submit">
    <input type="image" src="/images/save_changes_button.png" alt="create survey" />
    <%= link_to 'cancel', campaigns_path, :class => 'cancel_button' %>
  </div>
<% end %>
