<h1>Create Survey</h1>

<form>

  <div class="grey_box">
    <h2>
      <span class="large_bullet">1</span>
      Survey Details
    </h2>

    <div class="field">
      <label>Title</label>
      <input type="text" />
      <p class="note"><span>Example:</span> iPod Feature Study for Apple</p>
    </div>

    <div class="field">
      <label>Description</label>
      <textarea></textarea>
      <p class="note"><span>Example:</span> Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
    </div>
    
    <div class="field date">
      <label>Date</label>
      <input type="text" value="<%= 7.days.from_now.to_s(:simple) %>" />
      <img src="/images/calendar.png" alt="select date" class="calendar_link" />
      <p class="note"><span>Note:</span> The default is 7 days after creation.</p>
    </div>
  </div> <!-- /div.grey_box (step 1) -->
  

  <div id="budget_section" class="grey_box create_question">
    <h2>
      <span class="large_bullet">2</span>
      Budget
    </h2>
    <div class="field">
      <label>Responses</label>
      <input type="text" />
      <p>How many responses are you looking for?</p>
    </div>
    <div class="field">
      <label>Value</label>
      <span class="dollar_sign">$</span>
      <input type="text" />
      <p>How much would you like to pay for each response?</p>
    </div>
  </div> <!-- /div.grey_box (step 2) -->

  <div class="submit">
    <input type="image" src="/images/create_survey_button.png" alt="create survey" />
    <a href="#" class="cancel_button">cancel</a>
  </div>
</form>
