<h1>
  <span class="survey">New Survey: Lorem Ipsum Dolor Sit</span>
  Create Question
</h1>

<form>
  <div id="question_type_section" class="grey_box create_question">
    <h2>
      <span class="large_bullet">1</span>
      Question Type
    </h2>

    <div class="question_category">
      <h3><strong>Standard</strong> &ndash; $0.10 / question</h3>
      <div class="field radio">
        <label><input type="radio" name="question_name" checked="checked" /> Multiple Choice</label>
      </div>
      <div class="field radio">
        <label><input type="radio" name="question_name" /> Essay</label>
      </div>
    </div>
    <div class="question_category">
      <h3><strong>Premium</strong> &ndash; $1.00 / question</h3>
      <div class="field radio">
        <label><input type="radio" name="question_name" /> Photo</label>
      </div>
    </div>
    <br class="clear" />
  </div> <!-- /div.grey_box.create_question (step 1) -->

  <div class="grey_box create_question">
    <h2>
      <span class="large_bullet">2</span>
      The Question!
    </h2>

    <div class="field">
      <label>Title</label>
      <input type="text" />
      <p class="note"><strong>Example:</strong> How many iPods do you own?</p>
    </div>

    <div class="field">
      <label>Description</label>
      <textarea></textarea>
      <p class="note"><strong>Example:</strong> Please count how many iPods you currently own. Not including iPods you have sold, given away or discarded in any way.</p>
    </div>

    <div class="field">
      <label>
        Answers
        <a href="#" class="add" id="add_answer">add answer</a>
      </label>

      <div id="create_question_answers">
        <div class="answer">
          <input type="text">
          <a href="#" class="reorder_answer">re-order</a>
          <a href="#" class="remove">remove answer</a>
        </div>
        <div class="answer">
          <input type="text">
          <a href="#" class="reorder_answer">re-order</a>
          <a href="#" class="remove">remove answer</a>
        </div>
      </div>
    </div>
  </div> <!-- /div.grey_box.create_question (step 2) -->

  <div class="submit">
    <input type="image" src="/images/save_question_button.png" alt="Save Changes" />
    <a href="#" class="cancel_button">cancel</a>
  </div>
</form>
