<h1>In Progress</h1>

<div id="surveys">
  <div class="grey_box survey_progress">
    <h2>iPod Feature Study for Apple</h2>
    <p class="expiration"><span>Expires:</span> January 21, 2009 at 5:31pm</p>
    <p class="actions">
      <a href="#">view details</a>
      <a href="#">edit survey</a>
    </p>
    <p class="stats">
      <a href="#">view</a>
      <span class="number">218</span>
      <span class="type">Responses Completed</span>
    </p>
    <p class="stats highlight">
      <a href="#">view</a>
      <span class="number">68</span>
      <span class="type">Responses Pending Review</span>
    </p>
    <p class="stats">
      <span class="number">714</span>
      <span class="type">Responses Remaining</span>
    </p>
  </div> <!-- /div.grey_box -->


  <div class="grey_box survey_progress">
    <h2>iPod Feature Study for Apple</h2>
    <p class="expiration"><span>Expires:</span> January 21, 2009 at 5:31pm</p>
    <p class="actions">
      <a href="#">view details</a>
      <a href="#">edit survey</a>
    </p>
    <p class="stats">
      <a href="#">view</a>
      <span class="number">218</span>
      <span class="type">Responses Completed</span>
    </p>
    <p class="stats highlight">
      <a href="#">view</a>
      <span class="number">68</span>
      <span class="type">Responses Pending Review</span>
    </p>
    <p class="stats">
      <span class="number">714</span>
      <span class="type">Responses Remaining</span>
    </p>
  </div> <!-- /div.grey_box -->

  <div class="grey_box survey_progress">
    <h2>iPod Feature Study for Apple</h2>
    <p class="expiration"><span>Expires:</span> January 21, 2009 at 5:31pm</p>
    <p class="actions">
      <a href="#">view details</a>
      <a href="#">edit survey</a>
    </p>
    <p class="stats">
      <a href="#">view</a>
      <span class="number">218</span>
      <span class="type">Responses Completed</span>
    </p>
    <p class="stats highlight">
      <a href="#">view</a>
      <span class="number">68</span>
      <span class="type">Responses Pending Review</span>
    </p>
    <p class="stats">
      <span class="number">714</span>
      <span class="type">Responses Remaining</span>
    </p>
  </div> <!-- /div.grey_box -->

  <div class="grey_box survey_progress">
    <h2>iPod Feature Study for Apple</h2>
    <p class="expiration"><span>Expires:</span> January 21, 2009 at 5:31pm</p>
    <p class="actions">
      <a href="#">view details</a>
      <a href="#">edit survey</a>
    </p>
    <p class="stats">
      <a href="#">view</a>
      <span class="number">218</span>
      <span class="type">Responses Completed</span>
    </p>
    <p class="stats highlight">
      <a href="#">view</a>
      <span class="number">68</span>
      <span class="type">Responses Pending Review</span>
    </p>
    <p class="stats">
      <span class="number">714</span>
      <span class="type">Responses Remaining</span>
    </p>
  </div> <!-- /div.grey_box -->
</div> <!-- /div.surveys -->
