@import "/stylesheets/reset.css";
@import "/stylesheets/forms.css";
@import "/stylesheets/errors.css";

ul#mockups { font-size: 16px; }
ul#mockups li { margin-bottom: 10px; }
ul#mockups li a { border-bottom: 1px dotted #99f; color: blue; text-decoration: none; }


/* @group Header
----------------------------------- */

div#header {
  margin-bottom: 80px;
  background: #191919;
}

div#header ul {
  width: 940px;
  height: 43px;
  margin: 0 auto;
  background: url(/images/header_logo.png) no-repeat 0% 50%;
}

div#header ul li {
  display: inline;
}

div#header ul li a {
  float: right;
  display: block;
  height: 43px;
  margin-left: 25px;
  color: #71df6a;
  font-size: 14px;
  font-weight: bold;
  line-height: 43px;
  text-decoration: none;
  text-shadow: 1px 1px 1px rgba(0,0,0,0.75);
  opacity: 0.999;
}

div#header ul li a.account {
  color: #01c6ff;
}

div#header ul li a:hover,
div#header ul li a#global_navigation_account:hover {
  color: #fff;
}

/* @end Header */


/* @group Container
----------------------------------- */

div#container {
  width: 940px;
  margin: 0 auto;
  font-size: 62.5%;
}

/* @end Container */

h1, h2, h3, h4 {
  font-family: "Helvetica Neue", helvetica, arial, sans-serif;
}

h1 {
  position: relative;
  margin-bottom: 30px;
  color: #34942e;
  font-size: 42px;
  letter-spacing: -0.03em;
}

h1 span.campaign {
  display: block;
  color: #444;
  font-size: 15px;
  letter-spacing: 0;
}

h2 {
  position: relative;
  margin-bottom: 35px;
  color: #222;
  font-size: 21px;
}

h2 span.large_bullet {
  position: absolute;
  top: -5px;
  left: -52px;
  display: block;
  width: 32px;
  height: 32px;
  color: #fff;
  font-size: 18px;
  font-weight: bold;
  line-height: 32px;
  text-align: center;
  background: url(/images/large_bullet_green.png);
}


div.grey_box {
  overflow: hidden;
  margin-bottom: 21px;
  padding: 30px 30px 30px 80px;
  background: #eee;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
}


/* @group Create Question
----------------------------------- */

div.grey_box.create_question div.field {
  margin-left: -22px;
  padding-left: 22px;
}

div#create_question_answers {
  float: left;
  width: 300px;
}

div#create_question_answers div.answer {
  position: relative;
  margin-bottom: 10px;
}

div#create_question_answers div.answer input {
  float: none;
  width: 268px;
  height: 25px;
  padding: 5px 0 0 0;
}

div#create_question_answers div.answer a.remove {
  position: absolute;
  top: 8px;
  right: -35px;
  display: block;
  width: 16px;
  height: 16px;
  text-indent: -999em;
  background: url(/images/delete.png);
}

div#create_question_answers div.answer a.reorder_answer {
  position: absolute;
  top: 0;
  right: 0;
  width: 31px;
  height: 32px;
  text-indent: -999em;
  background: url(/images/reorder_field.png);
}

div#create_question_answers div.answer a.reorder_answer:hover {
  cursor: move;
}

div.question_category {
  float: left;
  width: 220px;
  margin-right: 20px;
}

div.question_category h3 {
  margin-bottom: 25px;
  font-size: 14px;
}

div#question_type_section div.field input {
  margin-right: 10px;
}

div#question_type_section div.field label {
  font-weight: normal;
}

div#question_type_section div.field label.active {
  font-weight: bold;
}

div#budget_calculations {
  overflow: hidden;
  float: left;
  width: 580px;
  height: 68px;
  margin-top: 25px;
  border: 1px solid #2b7f25;
  color: #fff;
  font-family: "Helvetica Neue", helvetica, arial, sans-serif;
  font-size: 25px;
  text-align: center;
  background: #6bc666;
}

div#budget_calculations img {
  float: left;
  display: block;
  margin-left: 15px;
}

div#budget_calculations span {
  float: left;
  display: block;
  height: 66px;
  margin-left: 15px;
}

div#budget_calculations div.border {
  height: 66px;
  border: 1px solid #bce5ba;
  line-height: 66px;
}

/* @end Create Question */


/* @group Active Campaigns 
----------------------------------- */

div#campaigns {
  overflow: hidden;
  margin-left: -20px;
}

div.grey_box.campaign_progress {
  float: left;
  width: 400px;
  margin-left: 20px;
  padding: 30px 30px 15px 30px;
}

div.grey_box.campaign_progress h2 {
  margin: 0 0 6px 0;
  font-size: 18px;
  font-weight: bold;
  text-shadow: 1px 1px 1px #fff;
}

div.grey_box.campaign_progress h2 a {
  color: #222;
  text-decoration: none;
}

div.grey_box.campaign_progress p {
  font-size: 12px;
}

div.grey_box.campaign_progress p.expiration {
  margin-bottom: 20px;
  color: #555;
  font-weight: bold;
}

div.grey_box.campaign_progress p.actions {
  overflow: hidden;
  margin-bottom: 20px;
}

div.grey_box.campaign_progress p.actions a {
  margin-right: 10px;
}

div.grey_box.campaign_progress p.actions a.button {
  float: left;
  display: block;
  height: 20px;
  text-indent: -999em;
}

div.grey_box.campaign_progress p.actions a.button.view_details {
  width: 96px;
  background: url(/images/view_details_button.png);
}

div.grey_box.campaign_progress p.actions a.button.edit_survey {
  width: 92px;
  background: url(/images/edit_survey_button.png);
}

div.grey_box.campaign_progress p.expiration span {
  font-weight: normal;
}

div.grey_box.campaign_progress p.stats {
  overflow: hidden;
  margin-bottom: 15px;
  border: 1px solid #eee;
  padding: 5px 10px 5px 0;
  font-weight: bold;
}

div.grey_box.campaign_progress p.stats.highlight {
  border: 1px solid #cdcdb9;
  background: #f2f2b2;
}

div.grey_box.campaign_progress p.stats span.number {
  float: left;
  display: block;
  width: 70px;
  margin-right: 10px;
  color: #227d1c;
  font-size: 21px;
  text-align: right;
  text-shadow: 1px 1px 1px #fff;
}

div.grey_box.campaign_progress p.stats span.type {
  float: left;
  display: block;
  line-height: 21px;
}

div.grey_box.campaign_progress p.stats a {
  float: right;
  display: block;
  color: #000;
  font-weight: normal;
  line-height: 21px;
}

/* @end Active Campaigns */
