<div id="container">
  <h1>Mockups</h1>
  <ul style="font-size: 16px;">
  <% @pages.each do |page| -%>
    <li style="margin-bottom: 10px;"><%= link_to page, :action => page -%></li>
  <% end -%>
  </ul>
</div>
