<div id="container">

  <h1>Active Questions</h1>

  <div class="grey_box">
    <h2>Take a photo of your closet.</h2>
    <p><span>Expires:</span> January 21, 2009 at 5:31pm</p>
    <p>
      <a href="#">edit question</a>
      <a href="#">close question</a>
    </p>

    <p>
      <a href="#">view</a>
      <span>218</span>
      <span>Answered</span>
    </p>
    <p>
      <a href="#">view</a>
      <span>68</span>
      <span>Pending Review</span>
    </p>
    <p>
      <a href="#">view</a>
      <span>714</span>
      <span>Remaining</span>
    </p>
  </div>

</div> <!-- /div#container -->
