# git-ls-files --others --exclude-from=.git/info/exclude
# Lines that start with '#' are comments.
# For a project mostly in C, the following would be a good set of
# exclude patterns (uncomment them if you want to use them):
# *.[oa]
# *~
.DS_Store
log/*.log
config/database.yml
config/schema.rb
tmp/*
db/*.sqlite3
coverage/*
.zsh*
*.swp
.project
public/javascripts/all.js
public/stylesheets/all.css
public/coverage
public/avatars
vendor/plugins/selenium-on-rails/log/*
